<div id="{{mapname}}" style="width: {{ width }}; height: {{ height }};"></div>
<script>
jQuery(document).ready(function () {
    var map = L.map('{{mapname}}').setView([{{ lat }}, {{ lng }}],{{ zoom }});
    L.tileLayer('{{ tilestanza }}', {
        attribution: '{{ attribution }}',
        maxZoom: {{ maxzoom }}
    }).addTo(map);
{{ markercode }}
});
</script>
