<!-- {{ mapname }} -->
<div id="map_marker_leaflet_{{ mapkey }}" class="map_marker_leaflet_canvas{% if classes %} {{classes}}{% else %}" style="width:{{ width }}; height:{{ height }}{% endif %};"></div>
<script type="text/javascript">
{{ settings }}
{{ markercode }}
</script>
