<div id="{{ mapname|raw }}" {% if classes %}class="{{ classes|raw }}"{% else %}style="width: {{ width|raw }}; height: {{ height|raw }};" {%endif %}></div>
<script>
document.addEventListener('DOMContentLoaded', function(event) {
  var map = L.map('{{ mapname|raw }}').setView([{{ lat|raw }}, {{ lng|raw }}],{{ zoom|raw }});
  L.tileLayer('{{ tilestanza|raw }}', {
    attribution: '{{ attribution|raw }}',
    maxZoom: {{ maxzoom|raw }}
    {% if apikey %}, apikey: '{{ apikey|raw }}'{% endif %}
    {% if variant %}, variant: "{{ variant|raw }}"{% endif %}
  }).addTo(map);
  {% if scale %}L.control.scale().addTo(map);{% endif %}
{{ markercode|raw }}
})
</script>
