<div id="{{mapname}}" {% if classes %}class="{{classes}}"{% else %}style="width: {{ width }}; height: {{ height }};" {%endif %}></div>
<script>
document.addEventListener('DOMContentLoaded', function(event) {
    var map = L.map('{{mapname}}').setView([{{ lat }}, {{ lng }}],{{ zoom }});
    L.tileLayer('{{ tilestanza }}', {
        attribution: '{{ attribution }}',
        maxZoom: {{ maxzoom }}
        {% if apikey %}, apikey: '{{ apikey }}'{% endif %}
        {% if variant %}, variant: "{{ variant}}"{% endif %}
    }).addTo(map);
    {% if scale %}L.control.scale().addTo(map);{% endif %}
{{ markercode }}
})
</script>
