<div id="{{mapname}}" style="width: 100%; height: 530px;"></div>
<script>
jQuery(document).ready(function () {
    L.mapquest.key = '{{apikey}}';
    var map = L.mapquest.map('{{mapname}}', {
          center: [{{lat}}, {{lng}}],
          layers: L.mapquest.tileLayer('map'),
          zoom: {{zoom}}
        });
{{ markercode }}
});
</script>
